<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <div class="app-container">
    <h1 id="app-title">Todolist</h1>
        <main id="app">
            <div class="todo-groups">
                <h2 class="todo-groups-header">
                    Todo Groups
                    <button id="group-toggle-btn">
                        <span class="icon-[mdi--expand-more]"></span>
                    </button>
                </h2>
                <h3 class="current-group">Current Group: <span class="current-group-name">None</span></h3>
                <ul class="todo-groups-list"></ul>
                <button id="add-new-group">
                    <span class="icon-[material-symbols--add]"></span>
                    <span class="button-desc">New Group</span>
                </button>
            </div>
            <div class="todo-main-header off"></div>
            <div class="todo-main">
                <p class="empty-msg">No todo groups found. Start by creating a new todo group to add todos.</p>
                <ul class="todo-list">
                </ul>
            </div>
        </main>
    </div>
</body>
</html>