<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1 id="app-title">Todolist</h1>
    <div id="app">
        <div class="todo-groups">
            <h2>Todo Groups</h2>
            <ul class="todo-groups-list">
            </ul>
            <button id="add-new-group"><span class="icon-[material-symbols--add]"></span>New Group</button>
        </div>
        <div class="todo-main">
            <p class="no-groups-msg">No todo groups found. Start by creating a new todo group to add todos.</p>
        </div>
    </div>
</body>
</html>