@import "tailwindcss";
@import url(https://fonts.bunny.net/css?family=carattere:400|inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@plugin "@iconify/tailwind4";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-title: "Carattere", handwriting;
    --color-primary: #1b76ff;
    --color-todogroups: #ADD5F7;
    --color-todos: #7ABAF2;
}

/* 
TODO: Improve UI and CSS layout
TODO: Make layout more responsive 
*/

html,
body {
    @apply h-screen;
}

body {
    @apply p-12 bg-primary flex flex-col items-center gap-12;
}

#app-title {
    @apply w-2/3 font-title text-center text-9xl text-gray-100 font-bold border-b;
}

#app {
    @apply bg-gray-200 grid grid-cols-4 font-inter overflow-scroll m-auto h-full w-2/3 rounded-2xl border-3 border-dashed shadow-2xl;
}

.todo-groups {
    @apply bg-todogroups border-r-2 p-4 font-bold;
}

.todo-groups > h2 {
    @apply text-2xl border-b-1 border-gray-600 mb-4
}

.todo-main {
    @apply relative col-span-3 bg-todos;
}

.no-groups-msg {
    @apply absolute bottom-1/2 text-3xl text-black/50 italic text-center;
}

.todo-main-header {
    @apply grid grid-cols-3 place-items-center justify-center text-3xl text-center border-b-1 border-gray-600 p-4 font-bold;
}

#add-new-todo {
    @apply flex flex-row items-center text-xl bg-green-600 rounded-full text-gray-100 cursor-pointer p-2 hover:bg-green-700;
}

.todo-item {
    @apply grid grid-cols-[auto_1fr] grid-rows-3 gap-4 text-neutral-700 bg-gray-300 m-4 p-3 rounded-2xl border-2 border-yellow-500;
}

.todo-item.checked, .todo-item.checked .todo-title {
    @apply text-neutral-500 line-through;
}

.todo-info {
    @apply flex flex-col gap-1 row-span-3 col-start-2 col-end-3;
}

.todo-edit {
    @apply cursor-pointer text-green-700 hover:text-green-800;
}

.todo-info > * {
    @apply flex flex-row items-center gap-2;
}

.todo-info button:disabled
{
    @apply invisible;
}

.todo-check {
    @apply text-black place-self-start self-center col-start-1 col-end-2 row-start-1 row-end-4;
}

.todo-check span {
    @apply text-3xl;
}

.todo-title {
    @apply text-black text-xl;
}

.todo-desc {
    @apply italic;
}

.overlay {
    @apply flex flex-col h-screen w-full z-10 fixed top-0 invisible bg-neutral-900/0;
}

.overlay-active {
    @apply visible bg-neutral-900/70;
}

.dialog {
    @apply rounded-2xl shadow-2xl p-4 relative flex flex-col text-gray-200 m-auto z-20 bg-blue-900;
}

.dialog-title {
    @apply text-3xl text-center font-bold underline mb-4;
}

form label {
    @apply text-gray-100 font-bold;
}

form input,
form textarea {
    @apply bg-gray-800 p-2 rounded-xl shadow-xl outline-gray-300;
}

form button[type="submit"] {
    @apply bg-emerald-700 mt-4 font-bold w-1/2 mx-auto py-2 rounded-full shadow-xl cursor-pointer hover:bg-emerald-800;
}

form,
form>div {
    @apply flex flex-col gap-2
}

#add-new-group {
    @apply flex flex-row items-center text-gray-100 bg-blue-600 p-2 rounded-full cursor-pointer hover:bg-blue-700 mt-4;
}

button span {
    @apply text-2xl
}

.todo-groups-list {
    @apply flex flex-col gap-4;
}

.todo-group-item {
    @apply text-gray-700 bg-sky-200 hover:bg-sky-300 border-gray-500 border rounded-xl p-2 font-normal grid grid-cols-2 break-words;
}

.todo-group-buttons {
    @apply flex flex-row justify-end gap-1 items-center flex-wrap;
}

.todo-group-del {
    @apply cursor-pointer text-red-600 hover:text-red-700;
}

.todo-group-edit {
    @apply cursor-pointer text-green-600 hover:text-green-700;
}

.todo-group-info {
    @apply cursor-pointer text-blue-700 hover:text-blue-900;
}

.group-info {
    @apply flex flex-col gap-4;
}
.group-info h3 {
    @apply font-bold;
}

.group-active {
    @apply text-black border-0 border-l-red-400 border-l-4 bg-sky-300 hover:bg-sky-300 rounded-none rounded-r-2xl;
}