@import "tailwindcss";
@import url(https://fonts.bunny.net/css?family=carattere:400|inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|noto-sans:100,100i,200,200i,400,400i,500,600,700,800,900);
@plugin "@iconify/tailwind4";

@theme {
	--font-inter: "Inter", sans-serif;
	--font-noto-sans: "Noto Sans", sans-serif;
	--font-title: "Carattere", handwriting;
	--color-primary: #1b76ff;
	--color-todogroups: #add5f7;
	--color-todos: #7abaf2;
}

/* 
TODO: Improve UI and CSS layout
*/

html,
body {
	@apply h-screen;
}

@media screen and (max-height: 48rem) {
	html,
	body {
		@apply h-auto min-h-screen;
	}
}

body {
	@apply box-border flex flex-col bg-neutral-50 py-12 font-noto-sans;
}

.app-container {
	@apply flex h-full grow flex-col items-center gap-12;
}

#app-title {
	@apply w-2/3 border-b border-gray-400 text-center font-title text-7xl font-bold text-black lg:text-9xl;
}

#app {
	@apply grid w-[95%] grow grid-cols-1 grid-rows-[auto_auto_1fr] items-center overflow-y-auto rounded-2xl border-3 border-dashed bg-gray-200 font-noto-sans shadow-2xl lg:grid-cols-[minmax(300px,1fr)_4fr] lg:grid-rows-[auto_1fr_auto] xl:w-2/3;
}

.todo-groups {
	@apply relative row-span-1 flex flex-row items-center self-stretch border-b-2 border-gray-400 lg:row-span-3 lg:flex-col lg:border-r-2 lg:border-b-0;
}

.group-open .todo-groups-list {
	@apply absolute top-15 z-20 flex bg-black/25 backdrop-blur-lg;
}

.todo-groups-header {
	@apply order-1 flex items-center gap-4 border-gray-400 p-4 text-center text-lg font-bold lg:order-none lg:block lg:min-h-20 lg:w-full lg:border-b-2 lg:text-2xl;
}

.todo-groups-header > h2 {
	@apply flex h-full flex-col items-center justify-center;
}

.todo-main {
	@apply relative row-span-2 flex flex-col self-stretch overflow-y-auto bg-gray-100 lg:col-start-2 lg:row-start-2 lg:px-4;
}

.empty-msg {
	@apply mx-4 my-auto text-center text-xl font-extralight text-black/50 italic text-shadow-sm empty:hidden lg:p-0 lg:text-3xl;
}

.todo-main-header {
	@apply row-start-2 row-end-3 flex flex-row items-center justify-between border-b-2 border-gray-400 px-2 py-4 text-center text-lg font-bold lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2 lg:min-h-20 lg:px-4 lg:text-2xl;
}

.todo-main-header.off {
	@apply hidden;
}

#add-new-todo {
	@apply flex cursor-pointer flex-row items-center rounded-full bg-green-700 p-2 text-lg text-gray-100 hover:bg-green-800;
}

#add-new-todo .button-desc,
#clear-todos .button-desc {
	@apply text-lg;
}

.todo-list {
	@apply flex flex-col overflow-y-auto empty:hidden;
}

.todo-item {
	@apply m-2 grid auto-rows-auto grid-cols-[auto_1fr_auto] items-center gap-4 rounded-2xl bg-gray-200 pr-3 text-neutral-700 shadow-xl lg:m-4;
}

.todo-item.checked,
.todo-item.checked .todo-title {
	@apply text-neutral-500 line-through;
}

.todo-info {
	@apply col-start-2 col-end-3 row-span-3 flex min-w-0 flex-col gap-1 self-center p-1 text-sm lg:text-base;
}

p.todo-date {
	@apply grid grid-cols-[auto_auto] justify-start sm:flex;
}

.todo-remaining-time {
	@apply col-start-2 italic sm:before:content-['-'];
}

.todo-date.overdue .todo-remaining-time {
	@apply font-bold text-red-700;
}

.todo-item.checked .todo-remaining-time {
	@apply hidden;
}

.todo-edit {
	@apply cursor-pointer text-green-700 hover:text-green-800 lg:invisible lg:group-hover/edit:visible;
}

.todo-edit span,
.todo-check span {
	@apply text-xl lg:text-2xl;
}

.todo-info > * {
	@apply flex flex-row gap-2;
}

.todo-desc,
.todo-title {
	@apply break-all;
}

.todo-info button:disabled {
	@apply invisible;
}

.todo-check {
	@apply col-start-1 col-end-2 row-span-3 row-start-1 cursor-pointer self-stretch rounded-l-2xl p-1 text-gray-700 hover:text-black;
}

.todo-item.todo-normal .todo-check {
	@apply bg-sky-300;
}

.todo-item.todo-low .todo-check {
	@apply bg-emerald-300;
}

.todo-item.todo-high .todo-check {
	@apply bg-amber-300;
}

.todo-item.checked .todo-check {
	@apply bg-gray-300;
}

.todo-del {
	@apply col-start-3 col-end-4 row-start-2 row-end-3 cursor-pointer text-red-600 group-hover/item:visible hover:text-red-700 lg:invisible;
}

.todo-check span,
.todo-del span {
	@apply text-3xl;
}

.todo-title {
	@apply text-lg text-black lg:text-xl;
}

.todo-desc {
	@apply italic;
}

.overlay {
	@apply fixed top-0 z-40 hidden h-screen w-screen bg-neutral-900/0;
}

.overlay-active {
	@apply flex flex-col bg-neutral-900/70;
}

.dialog {
	@apply z-500 m-auto flex w-80 flex-col rounded-2xl bg-blue-900 text-gray-200 shadow-2xl lg:w-96;
}

.dialog-header {
	@apply relative px-1 pt-4;
}

.close-dialog {
	@apply absolute top-2 cursor-pointer hover:text-neutral-300;
}

.close-dialog span {
	@apply text-3xl;
}

.dialog-title {
	@apply mx-auto mb-4 max-w-10/12 text-center text-2xl font-bold underline;
}

.dialog-body {
	@apply p-6 pt-0;
}

form label {
	@apply font-bold text-gray-200;
}

form input,
form textarea,
form select {
	@apply rounded-xl bg-gray-800 p-2 shadow-xl outline-gray-300;
}

form button[type="submit"] {
	@apply mx-auto mt-4 min-w-1/2 cursor-pointer rounded-full bg-emerald-700 p-2 font-bold shadow-xl hover:bg-emerald-800;
}

form,
form > div {
	@apply flex flex-col gap-2;
}

#clear-confirm {
	@apply flex flex-row;
}

#clear-confirm input {
	@apply flex-1 cursor-pointer font-bold text-gray-200;
}

#clear-confirm input[value="Yes"] {
	@apply bg-rose-700 hover:bg-rose-800;
}

#clear-confirm input[value="No"] {
	@apply bg-emerald-700 hover:bg-green-800;
}

.group-control-buttons {
	@apply order-0 col-start-1 col-end-2 row-start-3 row-end-4 flex justify-center gap-2 p-2 py-4 lg:order-none;
}

#add-new-group {
	@apply flex cursor-pointer flex-row items-center rounded-full bg-blue-700 p-2 font-bold text-gray-100 hover:bg-blue-800;
}

#clear-groups {
	@apply flex cursor-pointer flex-row items-center gap-2 rounded-full bg-red-700 p-2 font-bold text-gray-100 hover:bg-red-800;
}

#clear-todos {
	@apply flex cursor-pointer flex-row items-center gap-2 rounded-full bg-red-700 p-2 text-gray-100 hover:bg-red-800;
}

button .button-desc {
	@apply hidden text-sm lg:block;
}

button span {
	@apply text-xl lg:text-2xl;
}

.todo-groups:has(.todo-groups-list:empty) #group-toggle-btn {
	@apply hidden;
}

#group-toggle-btn {
	@apply lg:hidden;
}

#group-toggle-btn span {
	@apply transition-transform duration-100;
}

#group-toggle-btn span {
	@apply text-3xl;
}

.group-open #group-toggle-btn span {
	@apply rotate-180;
}

.current-group {
	@apply order-2 mr-4 ml-auto text-center font-bold lg:order-none lg:hidden;
}

.todo-groups-list {
	@apply hidden w-full grow flex-col items-center gap-4 border-gray-400 bg-gray-300 p-4 empty:invisible lg:flex lg:overflow-y-auto lg:border-b-2;
}

.todo-group-item {
	@apply grid w-full cursor-pointer grid-cols-2 items-center rounded-xl border border-gray-500 bg-gray-100 p-2 font-normal break-words text-gray-700 shadow-xl hover:bg-yellow-100;
}

.todo-group-buttons {
	@apply flex flex-row flex-wrap items-center justify-end gap-1;
}

.todo-group-del {
	@apply cursor-pointer text-red-600 hover:text-red-700;
}

.todo-group-edit {
	@apply cursor-pointer text-green-600 hover:text-green-700;
}

.todo-group-info {
	@apply cursor-pointer text-blue-700 hover:text-blue-900;
}

.group-info {
	@apply flex flex-col gap-4;
}
.group-info h3 {
	@apply font-bold;
}

.group-active {
	@apply rounded-none rounded-r-2xl border-0 border-l-4 border-l-red-400 bg-yellow-100 text-black hover:bg-yellow-100;
}
